class SpotifyTui < Formula
  desc "Local-first Spotify controller and visualizer for spotifyd"
  homepage "https://github.com/@REPOSITORY@"
  url "https://github.com/@REPOSITORY@/releases/download/v@VERSION@/spotify-tui-source.tar.gz"
  sha256 "@SOURCE_SHA256@"
  license "MIT"

  depends_on "rust" => :build
  depends_on "cava"
  depends_on "spotifyd"

  def install
    system "cargo", "install", *std_cargo_args(path: ".")
    pkgshare.install "themes"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/spotify-tui --version")
  end
end
